.App {
  text-align: center;
  height: 200vh;
}
div {
  border: solid 5px black;
}
#box-model {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  float: right;
  background-color: rgb(160, 160, 160); 
  box-shadow: 4px 4px 5px blue;
  flex-wrap: nowrap;
  background-image: url('https://pics.me.me/john-cena-face-png-2-%C2%BB-png-image-50314341.png');
  /* ^^ example of font/background for css */
}
.box-rel {
  width: 500px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  float: right;
  background-image: linear-gradient(red, yellow, blue);
  font-weight: bold;
  color: blue;
  font-size: 20px; 
  position: relative;
  transition: 1s;
  /* top: 20px; */
}

.box-fix {
  width: 100px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  float: right;
  position: fixed;
  top: 10px;
  background-color: rgb(160, 160, 160); 
  /* text-affect */
  /* ^^ example of font/background for css */
}
.box-absolute {
  width: 100px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  float: right;
  position: absolute;
  bottom: 0px;
  background-color: rgb(160, 160, 160); 
  /* ^^ example of font/background for css */
}
.box-sticky {
  width: 100px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  float: right;
  position: sticky;
  top: 20px;
  background-color: rgb(160, 160, 160); 
  overflow: nowrap;
  text-overflow: ellipsis;
  /* ^^ example of font/background for css */
}
.text-effects{
 writing-mode: vertical-lr;
}
.logo{
  border: solid 2px black;
  width: 60px;
  height: 20px;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 5s;
  position: absolute;
  left: 200px;
  top: 200px;
  z-index: 100;
}
.box-rel:hover {
  background: green;
}

.box-absolute p{
font-size: 10px;
}

div > input{
  font-size: 10px;
}

.focuss + span{
color: goldenrod;
}

input:disabled {
  background-color: burlywood;
}

p:nth-child(1) {
  color: red;
}

.focuss:focus{
  color: yellow;
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@media(max-width: 769px){
.logo {
  width: 300px;
  height: 90px;
}
}